<p *ngIf="!(comments$ | async)"> loading post comments...</p>
<h4 *ngIf="(comments$ | async)"> Comments For:
  <p>{{postTitle}}</p></h4>
<mat-card class="example-card" *ngFor="let comment of comments$ | async">
        <mat-card-header>
          
          <mat-card-title>{{ comment.name}} </mat-card-title>
          <mat-card-subtitle>{{comment.body}}</mat-card-subtitle>
        </mat-card-header>
       
       
      </mat-card>
      